// bower:scss
// endbower

$original: #42b4e6;
$commercial: #7dbe31;
$client: #ef4645;

@import 'normalize';
@import 'settings';
@import 'foundation/components/grid';
@import 'foundation/components/alert-boxes';
@import 'foundation/components/block-grid';
@import 'foundation/components/buttons';
@import 'foundation/components/forms';
@import 'foundation/components/magellan';
@import 'foundation/components/reveal';
@import 'foundation/components/tabs';
@import 'foundation/components/top-bar';
@import 'foundation/components/type';
@import 'foundation/components/visibility';
@import 'caption_hover_effects';

.browserupgrade {
	background: #ccc;
	color: #000;
	margin: 0.2em 0;
	padding: 0.2em 0;
}

::selection {
	background: rgb(97, 198, 193);
	color: #000;
}

body {
	padding-top: 0 !important;
}

img {
	max-width: 100%;
}

h2 {
	margin-bottom: rem-calc(40);
	margin-top: rem-calc(80);
}

.alert-box {
	background: rgba(255, 255, 255, 0.975);
	margin: auto;
	top: 6.5em;
	left: 0;
	right: 0;
	position: fixed;
	text-align: center;
	width: 50em;
	max-width: 90%;
	z-index: 10;
}

.reveal-modal {
	text-align: center;

	.modal-title {
		text-align: center;
	}
}

// =================================
// Preloader Loading Functionalities
// https://ihatetomatoes.net/create-css3-spinning-preloader/
// https://ihatetomatoes.net/create-custom-preloading-screen/
// =================================
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;

	border: 3px solid transparent;
	border-top-color: #3498db !important;
	border-radius: 50%;

	z-index: 1001;
	animation: spin 2s linear infinite;

	&:before, &:after {
		content: "";
		position: absolute;
		border: 3px solid transparent;
		border-radius: 50%;
	}

	&:before {
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		border-top-color: #e74c3c !important;
		animation: spin 3s linear infinite;
	}

	&:after {
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
		border-top-color: #f9c922 !important;
		animation: spin 1.5s linear infinite;
	}
}

@keyframes spin {
	0%   {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #222;
	z-index: 1000;

	&.section-left {
		left: 0;
	}

	&.section-right {
		right: 0;
	}
}

.loaded #loader-wrapper .loader-section.section-left {
	transform: translateX(-100%);
}

.loaded #loader-wrapper .loader-section.section-right {
	transform: translateX(100%);
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;
	transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
	visibility: hidden;
	transition: all 0.3s 1s ease-out;
}

.no-js #loader-wrapper {
	display: none;
}

// Prevent scrolling while the page hasn't finished loading
.no-scroll {
	height: 100%;
	overflow: hidden;
}

.no-js .no-scroll {
	overflow: visible;
}

// ======
// Header
// ======
header.contain-to-grid {
	background: rgba(255, 255, 255, 0.95);
	border-bottom: 3px solid rgb(250, 81, 0);
	box-shadow: 0 0 3px 0 $iron;
	display: none;
	letter-spacing: 0.1em;
}

h1 {
	background: url("../images/header.svg") no-repeat;
	background-size: contain;
	text-indent: -9999px;
	width: 100px;
}

// headroom.js fix
.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
}

.headroom--unpinned {
	top: -100px;
}

.headroom--pinned {
	top: 0;
}

// =======
// Landing
// =======
#landing {
	background: transparent;
	min-height: 100vh;
	width: 100%;
	z-index: 1003;
	position: relative;

	h2, h3 {
		z-index: 5;
	}

	h2 {
		font-size: rem-calc(100);
		line-height: rem-calc(70);

		@media #{$small-only} {
			font-size: rem-calc(40);
			margin: 0;
			text-align: center;
		}
	}

	h3 {
		font-size: rem-calc(55);
		font-weight: 400;

		@media #{$small-only} {
			font-size: rem-calc(30);
			margin: 0;
			text-align: center;
		}
	}

	img {
		@media #{$small-only} {
			display: block;
			margin: auto;
			height: 50vh;
			width: auto;
		}
	}
}

#rainbow {
	bottom: 0;
	font-size: 0;
	height: 7px;
	line-height: 0;
	margin: 0;
	position: absolute;
	width: 100%;

	li {
		display: inline-block;
		width: 20%;
		height: 100%;

		&:nth-child(1) {
			background-color: #2ecc71;
		}

		&:nth-child(2) {
			background-color: #3498db;
		}

		&:nth-child(3) {
			background-color: #f1c40f;
		}

		&:nth-child(4) {
			background-color: #e74c3c;
		}

		&:nth-child(5) {
			background-color: #9b59b6;
		}
	}
}

// ==========
// What We Do
// ==========
p a {
	border-bottom: 1px dotted $black;
}

blockquote {
	font-size: rem-calc(30);
	font-weight: 700;
	line-height: 1.8em;
	margin: 1.5em 1em;
	text-align: center;

	&:before, &:after {
		color: $iron;
		font-size: 4em;
		line-height: 0.1em;
	}

	&:before {
		content: "\2018\2018";
		margin-right: 0.15em;
		vertical-align: -0.4em;
	}

	&:after {
		content: "\2019\2019";
		margin-left: 0.15em;
		vertical-align: -0.6em;
	}

	@media #{$small-only} {
		margin: 1em 0;
		text-align: left;
	}
}

#intermezzo {
	background: transparent;
	margin: 1.5em 0;
	min-height: 50vh;
	padding: 0;

	@media #{$small-only} {
		display: none;
	}
}

// ==========
// Who We Are baru croscek sampe sini
// ==========
.boss {
	h3 {
		font-size: rem-calc(30);
		text-align: center;
	}

	p {
		text-align: justify;
		font-size: rem-calc(15);
		line-height: rem-calc(28);

		padding: 0 0.8em;
		margin-bottom: 20px;
	}
}

.crew {
	max-height: 23em;
	position: relative;
	border: 1px solid $smoke;
	overflow: hidden;
	margin-bottom: 3em;
	padding-bottom: 10em;

	h3 {
		font-size: rem-calc(21);
		text-align: center;
	}

	p {
		max-height: 7.2em;
		overflow: hidden;
		text-align: justify;
		font-size: rem-calc(15);
		line-height: rem-calc(28);

		padding: 0 0.8em;
		margin-bottom: 20px;
	}

	.more {
		font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
		background: linear-gradient(to bottom, transparent, $white-smoke);
		text-align: center;
		font-size: rem-calc(14);
		display: inline-block;
		position: absolute;
		padding-bottom: 0.3em;
		bottom: 0;
		width: 100%;
		z-index: 31;
	}
}

// =========
// Our Works
// =========
.tabs {
	width: 100%;
}

.tab-title {
	width: 33%;
	text-align: center;

	@media #{$small-only} {
		width: 100%;
	}
}

#tab1, #tab2, #tab3 {
	padding: 0;
	transition: all 0.4s ease;
}

.client {
	transition: all 0.2s ease;
	filter: grayscale(100%);
	margin-bottom: 2.5em;
}

.client:hover {
	filter: none;
}

.active #tab1, #tab1:hover {
	background: $original;
	color: $ghost;
}

.active #tab2, #tab2:hover {
	background: $commercial;
	color: $ghost;
}

.active #tab3, #tab3:hover {
	background: $client;
	color: $ghost;
}

// ============
// How It Works
// ============
.hiw-step {
	img {
		position: relative;
		max-height: 15em;
		margin: auto;
		display: block;
		z-index: 5;
	}

	@media #{$large-up} {
		min-height: 23em;

		img {
			margin-right: -6.5em;
			transition: all 0.35s ease;
		}

		h3 {
			margin-top: 2.35em;
		}

		h3, p {
			opacity: 0;
			transition: all 0.35s ease;
		}
	}

	&:hover {
		img {
			margin-right: 2.3em;
			transform: scale(0.8, 0.8);
		}

		h3, p {
			opacity: 1;
		}
	}
}

img#camera {
	margin: auto;
	display: block;
	max-height: 23em;
}

#line {
	position: absolute;
	display: none;
	z-index: 1;


	@media #{$large-up} {
		background: $iron;
		height: 80%;
		width: 0.4em;
		margin-left: 45%;
		display: block;
	}
}

h3 {
	text-align: center;

	@media #{$large-up} {
		text-align: left;
	}
}

#star1 canvas, #star2 canvas, #star3 canvas {
	width: 100%;
	height: auto;
}

#star1 canvas {
	@media #{$large-up} {
		margin-left: -30%;
	}
}

#star1 canvas, #star2 canvas {
	@media #{$large-up} {
		width: 130%;
	}
}

// ======
// Say Hi
// ======
#contact {
	h3 {
		font-size: rem-calc(22);
	}

	h4, p {
		font-size: rem-calc(18);
		line-height: rem-calc(30);
	}
}

label {
	margin-bottom: 0.5em;
}

input, textarea {
	margin-bottom: 1.2em;
	padding: 0.5em 0.6em;
	outline: none;
	border: none;
	width: 100%;
}

input[type="text"], input[type="email"] {
	border-bottom: 2px solid $tuatara;
}

textarea {
	border: 2px solid $tuatara;
	margin-top: 1.1em;
	height: 14em;
	resize: none;
}

button {
	margin: auto;
	text-align: center;
}

iframe {
	width: 100%;
	height: 500px;
	frameborder: 0;
	border: 0;
}

// ======
// Footer
// ======
footer {
	a {
		color: $white;

		&:hover {
			color: scale-color($white, $lightness: -5%);
		}
	}

	color: $white;
	text-align: center;
	background: $black;
	margin-top: 5em;
	padding-top: 1em;

	p {
		font-size: rem-calc(18);
		margin-bottom: 0.45em;
	}

	li {
		display: inline-block;
		font-size: rem-calc(20);

		&:nth-child(-n+4)::after {
			content: "|";
			margin: 2em;

			@media #{$small-only} {
				content: none;
			}
		}
	}

	@media #{$small-only} {
		li {
			width: 100%;
			display: block;
			margin: auto;
		}
	}
}
