node_modules
dist
.tmp
.sass-cache
bower_components
test/bower_components

.DS_Store
.bowerrc
.editorconfig
.jshintrc
.tmp
.yo-rc.jsons
bower.json
gulpfile.js
test

app/includes/htmlpurifier
app/includes/mandrill

old
